<!-- prettier-ignore -->
<% let srcPath = (pageId === 'home') ? "." : ".."%>

<header>
  <div class="l-inner">
    <% if(pageId === "home"){ %>
    <h1>サイトロゴ</h1>
    <% }else { %>
    <p>サイトロゴ</p>
    <% } %>
  </div>
</header>
